/* Reset and global styles */
body {
    font-family: 'Hagrid Trial', sans-serif;
    font-family: 'Hagrid Text Trial', sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

/* Header styles */
.header {
    background-color: #343F56;
    height: 288px;
    padding: 16px 0 0 0;
    text-align: center;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #F5E6CA;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #F5E6CA;
    max-width: 384px;
    margin: 0 auto;
}

/* Wrapper styles */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

/* Card styles */
.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    color: #F5E6CA;
}

/* Menu styles */
.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFBF4;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #343F56;
}

/* Dropdown styles */
.Select-control {
    width: 256px;
    height: 48px;
    font: #343F56;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

/* Header table styles */
.header-table {

    display: flex;
    justify-content: center;
}

.colored-background {
   background-color: #343F56;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td .dash-cell-value.unfocused {
    color: black;
}